<header class="fond">
    <div id="header">
        <div id="logo">
            <h1><a href="#">Indication   </a></h1>
        </div>
    </div>

    <div id="menu">
        <ul>
            <li><a routerLink="/dashboard" routerLinkActive="active" href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Links</a></li>
            <li><a (click)="_usuarioServise.logout()" class="pointer">Logout</a></li>
        </ul>
    </div>




</header>